header {
    height: auto;
    width: 100%;
}

a {
    list-style: none;
    float: right;
    margin: 10px 20px;
}

.relative {
    position: relative;
}

.relative__img {
    padding-left: 400px;
    text-align: right;
}

.absolute {
    position: absolute;
    color: #C71585;
    top: 30%;
    font-family: formal 436;
    font-size: 40px;
    span {
        color: rgb(37, 172, 160);
    }
}

h2 {
    position: absolute;
    top: 55%;
    color: #C71585;
    font-family: cosmic sans;
    font-size: 30px;
}

.ul {
    list-style: none;
    text-align: center;
    border: solid;
}

.text {
    color: #C71585;
}

.flex-item {
    display: flex;
    justify-content: space-between;
}

.card-content {
    width: 30%;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
}

.card__ttl {
    font-size: 10px;
    margin-bottom: 20px;
    font-weight: 300;
}

.main {
    height: 400px;
    display: flex;
}

.sidebar{
    height: 200px;
    display: flex;
}

.mv {
    position: relative;
    height: 60px;
    width: 100px;
}

.title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    color: #cccccc;
}

.contain{
    position: absolute;
    color: #cccccc;
    font-size: 20px;
}

body {
    font-family: "Avenir Next";
}
